/**
 * Reset some basic elements
 */
body, blockquote, pre, ul, figure {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0px;
}

/**
 * Basic styling
 */
body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: .01rem;
  color: #111;
  background-color: #F5F5F5;
  -webkit-text-size-adjust: 100%;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #EDEDE6;
    background-color: #272822;
  }
}

h1 {
  font-size: 2.5rem;
}

h1, h2, h3, h4 {
  letter-spacing: .03rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: .5rem;
}

article {
  margin-bottom: 3rem;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre, ul, figure, .highlight {
  margin-bottom: 15px;
}

/**
 * Figures
 */
figure>img {
  display: block;
}

/**
 * Lists
 */
ul {
  margin-left: 30px;
}

li>ul, li>p {
  margin-bottom: 0;
}

/**
 * Tables
 */
table {
  margin-top: 30px;
  margin-bottom: 30px;
  border-collapse: collapse;
}

th {
  text-align: start;
}

th, td {
  border: 1px solid gray;
  padding: 2px 8px;
}

/**
 * Links
 */
a {
  color: #1E77E2;
  text-decoration: none;
}

a:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: #1964bf;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote> :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre, code {
  font-size: 13px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

:not(pre)>code {
  padding: 1px 5px;
  color: #ff2160;
}

@media (prefers-color-scheme: dark) {
  pre, code {
    border-color: #424242;
  }

  :not(pre)>code {
    color: #a6e22e;
  }
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  background-color: #333 !important;
}

pre>code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(940px - (30px * 2));
  max-width: calc(940px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(340px - (30px));
    max-width: calc(340px - (30px));
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon>svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .icon>svg {
    width: 24px;
    height: 24px;
  }
}

.icon>svg path {
  fill: #828282;
}

.icon:hover svg path {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  fill: #1E77E2;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  color: #828282;
  padding: 5px 0;
}

/**
 * Page content
 */
.post-list {
  margin-left: 0;
  list-style: none;
}

.post-list>li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14.875px;
  color: #828282;
}

@media screen and (max-width: 800px) {
  .post-list h1 {
    font-size: 1.2rem;
  }
}

/**
 * Posts
 */
.post-title {
  font-size: 2.5rem;
}

.post-content {
  margin-bottom: 30px;
}

.post-content h2 {
  font-size: 32px;
  padding-top: 0.8rem;
}

.post-content h3 {
  font-size: 26px;
}

.post-content h4 {
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .post-title {
    font-size: 1.2rem;
  }

  .post-content h2 {
    font-size: 28px;
  }

  .post-content h3 {
    font-size: 22px;
  }

  .post-content h4 {
    font-size: 18px;
  }
}

.post-content img {
  display: block;
  margin: 32px auto;
  max-width: 100%;
  border: 1px solid gray;
}

/**
 * Site Header
 */
.site-header {
  background-color: #1A1A1A;
  margin-bottom: 1.8rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 8px 0;
  }
}

.navbar .brand {
  letter-spacing: .1rem;
  font-size: 1.5rem;
  color: #1E77E2;
}

@media screen and (max-width: 800px) {
  .navbar .brand {
    font-size: 1.2rem;
  }
}

.navbar .brand:hover {
  color: white;
  text-decoration: none;
}

.navbar .icon {
  padding-left: 6px;
}

.navbar .link {
  line-height: 1rem;
  padding-left: 12px;
  color: #9b9d9e;
  vertical-align: middle;
}

.navbar .link:hover {
  color: #1E77E2;
  text-decoration: none;
}

/**
 * Comments Button
 */
.show-comments button {
  background-color: #1E77E2;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 32px auto;
  width: 80%;
}

.show-comments button::-moz-focus-inner {
  border: 0;
}
