/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 5px 0;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

        font-size: 36px;
    @include media-query($on-mobile) {
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        padding-top: 0.8rem;

        @include media-query($on-mobile) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-mobile) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-mobile) {
            font-size: 18px;
        }
    }
}



/**
 * Bootstrap customization
 */
.navbar {
  border-radius: 0;
  padding: 2px 0;
  margin-bottom: $spacing-unit;

  .icons {
    padding-top: 4px;

    .nav-item {
      line-height: 1.2rem;
    }
  }

  .navbar-brand {
    font-family: $brand-font-family;
    font-size: 1.5rem;
    line-height: 1.25;
    padding-top: 4px;
    color: $brand-color;
  }
}

.navbar-nav .nav-item .nav-link:hover {
  color: $brand-color;
}
